<!DOCTYPE html>
<html lang="en" ng-app="my1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="ctrl">
联系人：<input  ng-model="p.name" type="text">
<input ng-model="p.sex" ng-value="1" ng-change="click()" type="radio">先生
<input ng-model="p.sex" ng-value="2" ng-change="click()" type="radio">女士

<script src="../js/common/angular.js"></script>
<script>
    angular.module('my1',['ng']).controller('ctrl',function ($scope) {
        $scope.p={
            sex:"1" //默认选中先生
        };
        console.log($scope.p.sex); //输出当前的性别值，controller初始化的时候执行一次，切换的时候并不执行

        $scope.click = function(){ //切换性别的时候执行这个方法
            console.log($scope.p.sex);
        }
    })
</script>
</body>
</html>