<h4>用户管理</h4>
<div class="search">
            <span>角色
                <select>
                    <option value="">全部</option>
                    <option value="role">管理员</option>
                    <option value="">管理员0</option>
                    <option value="">管理员2</option>
                </select>
            </span>
            <span>状态
                <select>
                    <option value="">全部</option>
                    <option value="">禁用</option>
                    <option value="state">启用</option>
                </select>
            </span>
    <span>登录名 <input type="text" ng-model="check"><button ng-click="che()">查询</button></span>
</div>
<div class="detail">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>登录名</th>
                <th>真实姓名</th>
                <th>角色</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in message | filter:filt">
                <td>{{item.ID}}</td>
                <td>{{item.loginname}}</td>
                <td>{{item.name}}</td>
                <td>{{item.role}}</td>
                <td>{{item.telephone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.state}}</td>
                <td>{{item.creattime|date:"yyyy-MM-dd HH:mm"}}</td>
                <td><a ng-click="edit(item.ID)">{{item.change}}</a>&nbsp;<a ng-click="del(item.ID)">{{item.delete}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="page">
        <div class="but">
            <button ng-click="prev()">上一页</button>
            <ul >
                <li ng-repeat="i in arr" ng-click="numPage(i)" >{{i+1}}</li>
            </ul>
            <button ng-click="next()">下一页</button>
        </div>
    </div>
</div>
<div class="dropup" ng-show="show">
    <ul>
        <li><input type="text" ng-model="tar.ID"></li>
        <li><input type="text" ng-model="tar.loginname"></li>
        <li><input type="text" ng-model="tar.name"></li>
        <li><input type="text" ng-model="tar.role"></li>
        <li><input type="text" ng-model="tar.telephone"></li>
        <li><input type="text" ng-model="tar.email"></li>
        <li><input type="text" ng-model="tar.state"></li>
        <li><input type="text" ng-model="tar.creattime"></li>
        <li>
            <button ng-click="ok(item.ID)">确定</button>
            <button ng-click="no(item.ID)">取消</button>
        </li>
    </ul>
</div>
