<div class="borders chzhi amends" ng-show="amendSH">
    <p class="hid">
        <span class="fl">确认</span>
        <b class="fr" ng-click="amendNo()">x</b>
    </p>
    <ul class="amendul">
        <li><em>登录名</em>：<input type="text"  ng-model="popupData.loginname"/></li>
        <li><em>名称</em>：<input type="text"  ng-model="popupData.name"/></li>
        <li><em>角色</em>：<input type="text"  ng-model="popupData.role"/></li>
        <li><em>电话</em>：<input type="text"  ng-model="popupData.telephone"/></li>
        <li><em>邮箱</em>：<input type="text"  ng-model="popupData.email"/></li>
        <li><em>状态</em>：
            <input type="radio" name="a" ng-change="changeStateFn('启用')" ng-value="start" ng-model="statueRole" id="qi"/>启用
            <input type="radio" name="a" ng-change="changeStateFn('禁用')" ng-value="stop" ng-model="statueRole"/>禁用
        </li>
        <li><em>创建时间</em>：<input type="text"  ng-model="popupData.creattime"/></li>
        <li>
            <div class="zhbtn">
                <button class="lbtn" ng-click="amendOk()">确定</button>
                <button ng-click="amendNo()">取消</button>
            </div>
        </li>
    </ul>
</div>